*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid limegreen; */
}

:root
{
  --naples-yellow: #F9DC5C;
  --flame: #CF5C36;
  --light: #fff;
  --gray: #7C7C7C;
  --green: #80FF72;

  --warning: #b10c17;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


#header
{
  background-color: var(--flame);
  text-align: center;
  text-transform: capitalize;
  padding: 1rem auto;
  color: var(--light);
}


.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-inline: auto;
  transition: all .5s ease-in-out;
}

.feedback-item
{
  background-color: var(--light);
  color: #7C7C7C;
  width: 100%;
  border-radius: 10px;
  margin: 1rem auto;
}

.card-body
{
  position: relative;
  padding: 1rem 2rem;

}

.card-text
{
  color: #000;
  font-weight: 500;
  opacity: .8;
}

.rating-badge
{
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  background-color: var(--flame);
  color: #fff;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.644);

}

.btn
{
  background: transparent;
  color: #4e4e4e;
  border: none;
  padding: 0;
  margin-left: .2rem;

}

.buttons
{
  position: absolute;
  top: .2rem;
  right: .5rem;
  display: flex;
}

.stats
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 550;
}

form
{
  background-color: var(--light);
  color: var(--gray);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: .5rem auto;
  min-height: 150px;
  text-align: center;
}

input[type=text]
{
  background-color: var(--light);
  color: #4e4e4e;
  max-width: 80%;
  min-width: 70%;
  padding: .7rem .5rem;
  border-radius: 20px;
  /* border: 0; */
  border: 1pt solid var(--gray);
}

input[type=text]:focus,
input[type=text]:focus-visible
{
  /* border: 1pt solid var(--flame); */
  border: 1pt solid var(--flame);
  outline: 0;
  box-shadow: 0 0 10px var(--naples-yellow);
}

input[type=text]::placeholder
{
  font-size: smaller;
  margin-left: .5rem;
}

button[type=submit]
{
  background-color: var(--flame);
  padding: .25rem 1rem;
  outline: 0;
  border: 0;
  border-radius: 20px;
}

button[type=submit]:disabled
{
  background-color: var(--gray);
  color: var(--light);
}

.review-content
{
  margin: auto 2rem;
  padding: .5rem 2rem;
  display: inline-flex;
  width: 90%;
  justify-content: space-around;
}

.rating
{
  display: inline-block;
}

.rating input
{
  display: none;
}

.rating label
{
  color: var(--gray);
  float: right;
}

.rating label:before
{
  content: "\2605";
  font-size: 2.5rem;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label
{
  color: var(--flame);
}


form h2
{
  font-size: clamp(1rem, 1.5rem, 2rem);
}

.message
{
  color: var(--light);
  font-size: smaller;
  float: left;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--warning);

  position: relative;
}

.link-btn
{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

a,
a:active,
a:visited
{
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}


::-webkit-scrollbar
{
  display: none;
}

@media(width<426px)
{
  .container
  {
    width: 100%;
  }

  .review-content
  {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
  }

  input[type=text]
  {
    width: 100%;
  }

  button[type=submit]
  {
    padding: .5rem 1rem;
  }
}

@media(426px<width<=768px)
{
  .container
  {
    width: 70dvw;
  }
}

@media(width>768px)
{
  .container
  {
    width: 55dvw;
  }
}